<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<nav th:fragment="navbar">
    <a th:href="@{/}">Home</a>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/puzzles}">Daily Puzzles</a>
        <a th:href="@{/profile}">Profile</a>
        <a th:href="@{/logout}">Logout</a>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/register}">Register</a>
    </div>
</nav>

<!--<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

</body>
</html> -->
</body>
</html>